{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}

<html {{{ output.htmlattributes }}}>

<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- HEAD DO SENADO -->

<link rel="canonical" href="http://www12.senado.leg.br/noticias">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta property="og:locale" content="pt_BR">
<meta property="og:site_name" content="Senado Federal">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

  {{>theme_boost/head}}

</head>

<body {{{ bodyattributes }}}>

     {{>theme_boost/headerLogado}}

<div id="page-wrapper">

    <!-- {{{ output.standard_top_of_body_html }}} -->

	<!-- inicio conteudo pagina logada -->

  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <nav id="#" class="breadcrumb">
                  <a class="breadcrumb-item" href="#">Início</a>
                  <a class="breadcrumb-item" href="#">Saberes</a>
                  <a class="breadcrumb-item active" href="#">Ensino a Distância</a>
              </nav>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-3" >
              <div class="col-lg-12" style="background-color:#3e6892; padding-left:15px; padding-top:7px;">
                  <p style="color:#ffffff;">Navegação</p>
              </div>
              <div class="col-lg-12" style="background-color:#f7f7f7;">
                  <ol class="breadcrumb">
                      <li><a href="#">Início</a></li>
                      <li><a href="#">Saberes</a></li>
                      <li><a href="#">Ensino a Distância</a></li>
                  </ol>
              </div>
              <div class="col-lg-12" style="background-color:#3e6892; padding-left:15px; padding-top:7px;">
                 <p style="color:#ffffff;">Cursos</p>
              </div>
             <div class="col-lg-12" style="background-color:#f7f7f7;">
                <div class="panel-group" id="accordion">
                <div class="panel panel-default" style="border-color:#f7f7f7;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ensino a Distância</a>
                    </h4>
                  </div>

                  <div id="collapse1" class="panel-collapse collapse in" >
                    <div class="panel-body">Lista de cursos</div>
                  </div>
                </div>
                <div class="panel panel-default" style="border-color:#f7f7f7;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Educação Cidadã</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Conteudo educação cidadã</div>
                  </div>
                </div>
                <div class="panel panel-default" style="border-color:#f7f7f7;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><p style="font-size:15px;">Cursos Presenciais no Interlegis</p></a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body"><p>Lista de cursos</p><p>Lista de cursos</p><p>Lista de cursos</p><p>Lista de cursos</p><p>Lista de cursos</p><p>Lista de cursos</p> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         <div class="col-lg-9" style="background-color:#f7f7f7; padding-top:10px">
             <div class="col-lg-12" >
               <div class="col-lg-3"><p style="color:#002e56;font-size:15px;">Ensino a Distância</p></div>
              <div class="col-lg-3" style="font-size:12px;"><img src="images/matricula_encerrada.png" /> Informações</div>
              <div class="col-lg-3" style="font-size:12px;"><img src="images/matricula_aberta_verde.png"/> Matriculas Abertas</div>
              <div class="col-lg-3" style="font-size:12px;"><img src="images/matricula_encerrada_vermelho.png"/> Matriculas Encerradas</div>
             <br/>
              </div>

         </div>
         <br/><br/><br/>

         <div class="col-lg-9" style="background-color:#f7f7f7; height: 500px; overflow-y: scroll; overflow-x: hidden; ">


         <!-- cursos inicio -->

             <div id="page" class="container-fluid">
                 {{{ output.full_header }}}

                 <div id="page-content" class="row">
                     <div id="region-main-box" class="col-xs-12">
                         {{#hasregionmainsettingsmenu}}
                         <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                             <div> {{{ output.region_main_settings_menu }}}</div>
                         </div>
                         {{/hasregionmainsettingsmenu}}
                         <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                             <div class="card card-block">
                             {{#hasregionmainsettingsmenu}}
                                 <div class="region_main_settings_menu_proxy"></div>
                             {{/hasregionmainsettingsmenu}}
                             {{{ output.course_content_header }}}
                             {{{ output.main_content }}}
                             {{{ output.course_content_footer }}}
                             </div>
                         </section>
                         {{#hasblocks}}
                         <section data-region="blocks-column" class="hidden-print">
                             {{{ sidepreblocks }}}
                         </section>
                         {{/hasblocks}}
                     </div>
                 </div>
             </div>
             {{> theme_boost/nav-drawer }}
         </div>
  <!-- cursos fim -->
    </div>
  </div>
</div>
  </div>
{{>theme_boost/footerSimples}}


<!-- fim conteudo pagina logado -->





<!-- <footer id="page-footer" class="p-y-1 bg-inverse">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>
        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}
        {{{ output.login_info }}}
        {{{ output.home_link }}}
        <nav class="nav navbar-nav hidden-lg-up">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled p-t-1">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>-->

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
