<!-- Barra de Navegação dentro do Curso -->
<style>
      .NavGlobal {
        background-color: #00305c;
        border-bottom: 4px solid #00824a;
        box-shadow: 0 4px 0 #fae042;
      }
</style>

<!-- Bootstrap CDN - CSS do Bootstrap -->

<script src="https://use.fontawesome.com/b95b184b26.js"></script>


<!-- Ícones da aba do navegador -->
<link rel="apple-touch-icon" sizes="180x180" href="{{{moodle_url}}}/images/favicon_saberes.ico">
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="32x32" />
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="192x192" />
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="96x96" />
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="16x16" />

<!-- Links para tinymce -->
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/static/collapse-image.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/static/sanfona.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/static/tabs.css" />

<script type="text/javascript" src="{{{moodle_url}}}/static/jquery.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}/static/collapse-image.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}/static/sanfona.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}/static/tabs.js" ></script>


