{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/frontpage_ilb

    Frontpage ILB layout template.

    Context variables required for this template:
      <!-- Categorias de cursos -->
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon_saberes.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
         "bodyattributes":""
    }
}}
<!-- Placeholders do template: não remover!!-->
<!-- {{{ output.course_content_header }}} -->
<!-- {{{ output.main_content }}}          -->
<!-- {{{ output.course_content_footer }}} -->
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Instituto Legislativo Brasileiro">
    <meta name="apple-mobile-web-app-title" content="Instituto Legislativo Brasileiro - ILB">
    <meta name="application-name" content="Instituto Legislativo Brasileiro - ILB">
    <meta name="theme-color" content="#00305c">
    <meta name="theme-color" content="#00305c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Instituto Legislativo Brasileiro - ILB</title>
    {{>theme_boost/head}}
</head>
<body {{{ bodyattributes }}}>
{{>theme_boost/header}}
<!-- Logo e busca -->
<div class="container">
    <section id="cabecalhoTopo">
        <div class="PortalTopo">
            <div class="PortalTopo-id">
                <div class="PortalTopo-title">
                    <a id="portal-home-link" href="https://www12.senado.leg.br/institucional">Institucional</a>
                    <div class="PortalTopo-sub eta-xs epsilon">
                        <a href="https://www12.senado.leg.br/institucional/escola-de-governo">Escola de Governo</a>
                    </div>
                </div>
            </div>
            <div class="PortalTopo-redes-sociais ">
                <dl>
                    <dd>
                        <a class="btn ShareIcon ShareIcon--circle ShareIcon--light ShareIcon--facebook" href="http://www.facebook.com/ilbsenado" target="_blank" title="Facebook" alt="Facebook"></a>
                        <a class="btn ShareIcon ShareIcon--circle ShareIcon--light ShareIcon--youtube" href="http://www.youtube.com/ILBCanal" target="_blank" title="YouTube" alt="YouTube"></a>
                    </dd>
                </dl>
            </div>
            <div class="PortalTopo-busca collapse">
                <div class="portal-search">
                    <form class="Az" action="course/search.php" role="search">
                        <input type="hidden" name="portal" value="Saberes">
                        <div class="input-group" data-toggle="_dropdown">
                            <input type="text" name="search" class="Az-input form-control" placeholder="Busca" autocomplete="off" />
                            <span class="input-group-btn">
                                <button id="btnSearchCourse" class="btn btn-default" type="submit" aria-label="Buscar">
                                    <div class="glyphicon glyphicon-search text-muted"></div>
                                </button>
                            </span>
                        </div>
                        <div class="u-posRelative">
                            <div class="Az-place Az-place--float Az-place--wide">
                                <div class="Box Box--lg">
                                    <div class="List Box">
                                        <div class="eta text-muted">Que curso você procura?</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="PortalTopo-togglers visible-xs pull-right">
                <button data-toggle="collapse" data-target=".Nav--principal" class="PortalTopo-toggler--menu">
                    <div class="Icon Icon--menu Icon--md"></div>
                </button>
                <button data-toggle="collapse" data-target=".PortalTopo-busca" class="PortalTopo-toggler--search">
                    <div class="glyphicon glyphicon-search"></div>
                </button>
            </div>
        </div>
    </section>
    <!-- Menu Principal -->
    <nav class="Nav--principal navbar navbar-default navbar-collapse nav-collapse collapse Nav--collapse" role="navigation">
        <!-- Classes retiradas  -->
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" onclick="javascript:ativaAba(event, 'div.validacert');return false;" data-toggle="dropdown" aria-expanded="false">Certificados</a>
            </li>
            <li class="dropdown">
                <a href="" onclick="javascript:ativaAba(event, 'div.faq');return false;">Perguntas Frequentes</a>
            </li>
            <li>
                <a href="" onclick="javascript:ativaAba(event, 'div.contato');return false;">Contatos</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Abas (Certificados, Perguntas frequentes e Contato) -->
<div class="container" style="visibility:visible">
    <div id="div.validacert" class="tabcontent tabcontentCert">
        <!-- Breadcrumbs -->
        <!-- Pagina Inicial > Escola de Governo > Saberes > Certificados -->
        <div id="portal-breadcrumbs" class="portal-breadcrumbs col-xs-12 col-md-12 col-lg-12">
            <ol class="Breadcrumbs">
                <li id="breadcrumbs-you-are-here">Você está aqui:</li>
                <li id="breadcrumbs-home">
                    <a href="https://www12.senado.leg.br/institucional">Página Inicial</a>
                </li>
                <li id="breadcrumbs-escola-de-governo">
                    <a href="https://www12.senado.leg.br/institucional/escola-de-governo">Escola de Governo</a>
                </li>
                <li id="breadcrumbs-saberes">
                    <a href="{{{ moodle_url }}}">
                    Saberes</a>
                </li>
                <li id="breadcrumbs-certificados">
                    <span id="breadcrumbs-current">Certificados</span>
                </li>
            </ol>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12" style="background:#F7f7f7; border: 1px solid #e6e6e6; padding-bottom: 5%;">
                <h4 style="color: #0F5688;">Validar Certificado</h4>
                <p style="padding-top: 5%;">Digite o código do certificado para verificar:</p>
                <form class="loginform" name="cert" method="post" action="blocks/verify_certificate/index.php">
                    <input type="text" name="certnumber" id="certnumber" size="10" value="" style="width:100%;">
                    <input type="hidden" name="list" id="list" value="8">
                    <div class="pull-right" style="padding-top: 5%;">
                        <input class="btn btn-primary" type="submit" value="Verificar">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg"><br /></div>
        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12" style="background:#F7f7f7; border: 1px solid #e6e6e6; padding-bottom: 5%;">
                <h4 style="color: #0F5688;">Obter Certificados</h4>
                <p style="padding-top: 5%;">Para obter o certificado de cursos já concluídos, clique no botão abaixo.</p>
                <div class="text-center" style="padding-top: 7%;">
                    <a class="btn btn-primary" href="blocks/get_certificate/index.php">Obter certificados</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg"><br /></div>
        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12" style="background:#f7f7f7; border: 1px solid #e6e6e6; padding-bottom: 5%;">
                <h4 style="color: #0F5688;">Certificados antigos</h4>
                <p style="padding-top: 5%;">Emissão de certificados para alunos inscritos no período de 2010/2013.</p>
                <div class="text-center" style="padding-top: 7%;">
                    <a class="btn btn-warning" href="http://www17.senado.gov.br/user/login"target="_blank">Certificados antigos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Perguntas frequentes -->
<div id="div.faq" class="container tabcontent">
    <!-- Breadcrumbs -->
    <!-- Pagina Inicial > Escola de Governo > Saberes > Perguntas Frequentes -->
    <div id="portal-breadcrumbs" class="portal-breadcrumbs col-xs-12">
        <ol class="Breadcrumbs">
            <li id="breadcrumbs-you-are-here">Você está aqui:</li>
            <li id="breadcrumbs-home">
                <a href="https://www12.senado.leg.br/institucional">Página Inicial</a>
            </li>
            <li id="breadcrumbs-escola-de-governo">
                <a href="https://www12.senado.leg.br/institucional/escola-de-governo">Escola de Governo</a>
            </li>
            <li id="breadcrumbs-saberes">
                <!-- Alterar este link quando o Saberes de homologação estiver em produção -->
                <a href="{{{ moodle_url }}}">Saberes</a>
            </li>
            <li id="breadcrumbs-faq">
                <span id="breadcrumbs-current">Perguntas Frequentes</span>
            </li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="panel-group" id="accordion">
            <!-- inicio do bloco accordion -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        1. Quem pode se inscrever nos cursos oferecidos pelo ILB?</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">Nos cursos EaD sem tutoria, podem se matricular servidores dos legislativos federal, estadual, municipal e distrital, dos órgãos conveniados e o público em geral. Nos cursos EaD com tutoria, o público em geral poderá fazer a pré-matrícula, porém só serão selecionados se houver disponibilidade de vagas.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        2. Quanto custa os cursos oferecidos pelo ILB?</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Todos os cursos oferecidos pelo ILB, na modalidade a distância, com e sem tutoria, são sem custo para os alunos.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        3. Quantos cursos, ao mesmo tempo, posso fazer?</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        O aluno pode realizar até 02 (dois) cursos simultaneamente, sem tutoria, e um curso com tutoria, desde que haja vaga.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        4. Os cursos oferecidos pelo ILB são reconhecidos pelo MEC?</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Os cursos a distância ofertados pelo ILB são considerados cursos de educação continuada e, por isso, não estão sujeitos ao reconhecimento do MEC, conforme a lei nº. 9394/96; Decreto nº. 5.154/04; Deliberação CEE 14/97 (Indicação CEE 14/97).</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        5. Qual equipamento preciso para realizar os cursos?</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">Os cursos podem ser acessados por computador, tablet e celular, com configurações básicas e acesso à internet banda larga.
                        Caso tenha dúvidas em relação ao acesso e à utilização do material on-line, você pode pedir ajuda à equipe de EaD enviando um e-mail para <a href="malito:ilbead@senado.leg.br">ilbead@senado.leg.br</a>.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        6. O que é o Saberes?</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">O Saberes é um Ambiente Virtual de Aprendizagem – AVA, baseado no Moodle, que visa facilitar a aprendizagem. É nesse ambiente que o participante dos cursos a distância do ILB terá acesso aos conteúdos, realizará as atividades, enviará e receberá mensagens e terá acesso às suas notas e certificado. É também por meio desse ambiente que professores tutores e coordenadores de cursos interagem com os participantes e têm acesso a informações e relatórios. O ILB passou a utilizar o Saberes em fevereiro de 2014.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                        7. Quero fazer um curso oferecido pelo ILB.</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p style="font-weight: bold;">O que devo fazer</p>
                        </a>
                        <ol>
                            <li>1. Caso você não tenha cadastro na nossa plataforma, acesse pelo endereço eletrônico <a href="http://saberes.senado.leg.br">http://saberes.senado.leg.br</a>, clique em Cadastre-se, localizado no bloco Acesso, à direita da tela.</li>
                            <li>2. Preencha as informações solicitadas e, ao final, clique em Cadastrar este novo usuário.</li>
                            <li>3. Uma mensagem será enviada para o endereço eletrônico que foi informado, para que o seu cadastro seja confirmado.</li>
                            <li>4. Após a confirmação, acesse a plataforma, escolha o curso do seu interesse e efetive a sua matrícula.</li>
                            <li>5. Você receberá uma mensagem confirmando sua matrícula no curso.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                        8. Não recebi o link para confirmação do cadastro.</a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Cheque a caixa de spam do seu correio eletrônico.</li>
                            <li>2. Não localizou? Solicite a liberação pelo endereço eletrônico <a href="malito:ilbead@senado.leg.br">ilbead@senado.leg.br</a> ou entre em contato pelo telefone (61) 3303-1475.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                        9. Fiz minha matrícula num curso sem tutoria oferecido pelo ILB. Quanto tempo eu tenho para a conclusão do curso sem tutoria?</a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Você terá até 60 (sessenta) dias para a conclusão do curso.</li>
                            <li>2. O  curso poderá  ser concluído  antes  desse prazo,  mas  o  certificado só será emitido 21 (vinte e um) dias após a data de matrícula. </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">10. Acessei o curso e tenho dificuldade na utilização da plataforma. O que fazer?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Ao acessar a página inicial do curso, clique na opção Guia do Estudante.</li>
                            <li>2. Nele você encontrará informações importantes para que você entenda os ícones existentes e sua respectiva função.</li>
                            <li>3. É importante que sua leitura seja feita na íntegra para a completa informação quanto à navegação dentro da plataforma.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">11. Como posso alterar meu cadastro na plataforma de ensino (complementar nome, alterar e-mail, mudar telefone, etc.)?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Acesse o Saberes no endereço <a href="http://saberes.senado.leg.br">http://saberes.senado.leg.br</a>, digitando sua identificação de usuário e senha.</li>
                            <li>2. Nessa página, clique na sua foto ou na imagem  .</li>
                            <li>3. Clique em Modificar Perfil.</li>
                            <li>4. Faça as alterações necessárias e, ao final da página, clique em Atualizar perfil.</li>
                            <li>5. Você pode alterar todos os seus dados, com exceção do CPF.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">12. Esqueci minha senha, o que fazer?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse12" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Acesse o Saberes no endereço <a href="http://saberes .senado.leg.br">http://saberes .senado.leg.br.</a></li>
                            <li>2. Nessa página, no bloco Acesso, clique em: Perdeu a senha?</li>
                            <li>3. Preencha as informações solicitadas (Identificação de Usuário ou E-mail).</li>
                            <li>4. Clique em Buscar.</li>
                            <li>5. Será encaminhado um link para o seu correio eletrônico, cadastrado na plataforma para a criação de uma nova senha. </li>
                            <li>6. Não recebeu o link? Entre em contato com o ILB pelo endereço  eletrônico <a href="malito:ilbead@senado.leg.br">ilbead@senado.leg.br</a> ou pelo telefone (61) 3303-1475.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">13. Não consigo acessar o conteúdo do curso. O que fazer?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse13" class="panel-collapse collapse">
                    <div class="panel-body">
                        Provavelmente você excedeu o prazo de conclusão do curso, que é de 60 (sessenta) dias a contar da data de matrícula. Seu status no curso ficará como abandono. Por isso, sua vaga ficará bloqueada por 30 (trinta) dias a contar da data limite para finalização do curso. Caso você não saiba a data limite, solicite a informação via e-mail para <a href="malito:ilbead@senado.leg.br">ilbead@senado.leg.br</a> ou pelo telefone (61) 3303-1475.
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">14. Quero refazer um curso que fui reprovado ou que abandonei. O que fazer?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse14" class="panel-collapse collapse">
                    <div class="panel-body">
                        É preciso aguardar a abertura de uma nova turma para que você possa se matricular novamente. Não é possível a rematrícula dentro da turma em que o aluno não obteve êxito.
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">15. Não sei quanto tempo ainda tenho para concluir o curso. Como posso saber?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse15" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Acesse o Saberes pelo endereço eletrônico <a href="http://saberes.senado.leg.br">http://saberes.senado.leg.br</a>, digitando sua Identificação de usuário e senha.</li>
                            <li>2. Entre no curso em questão.</li>
                            <li>3. Você poderá identificar quanto tempo tem para concluir o curso no bloco Meu Progresso, localizado na lateral direita da página inicial do curso.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">16. Gostaria de colocar uma foto no meu perfil. Como fazer?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse16" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Acesse a plataforma Saberes,   <a href="http://saberes.senado.leg.br">http://saberes.senado.leg.br</a>,   digitando   sua <b>Identificação de Usuário e Senha</b>.</li>
                            <li>2. Nessa página, clique na imagem , no bloco Bem-vindo ao Saberes.</li>
                            <li>3. Clique em <b>Modificar perfil</b>.</li>
                            <li>4. Nessa página, vá a opção <b>Imagem do Usuário</b>.</li>
                            <li>5. Arraste o arquivo de sua foto, diretamente para o campo indicado com a flecha.</li>
                            <li>6. Caso tenha dificuldade em arrastar a foto, clique no campo com a flecha.</li>
                            <li>7. Clique em <b>Enviar um arquivo</b>.</li>
                            <li>8. Em seguida em <b>Escolher arquivo</b>.</li>
                            <li>9. Depois de inserido o arquivo, clique no botão <b>Enviar este arquivo</b>.</li>
                            <li>10. Em seguida, vá até o final da página e clique em <b>Atualizar perfil</b>.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">17. Não gostei do curso e quero cancelar a minha matrícula. O que fazer ?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse17" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ol>
                            <li>1. Matrículas não podem ser canceladas.
                            <li>
                            <li>2. Você terá que aguardar o prazo de finalização do curso e cumprir a punição, que é de 30 (trinta) dias a contar da data final do curso, para ter a sua vaga liberada para uma nova matrícula.
                            <li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">18. Fui reprovado no curso. O que acontece?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse18" class="panel-collapse collapse">
                    <div class="panel-body">Você terá uma segunda oportunidade para fazer a avaliação final, dentro do prazo limite de realização do curso. Em caso de nova reprovação, deverá cumprir uma suspenção de 30 (trinta) dias a contar da data final de realização do curso. Após esse prazo, você deve aguardar a abertura de uma nova turma para se matricular novamente no curso.
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">19. Qual a diferença entre os cursos com e sem tutoria?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse19" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>"Curso com tutoria" é aquele que conta com o acompanhamento de tutores e tem a duração de 40 dias. A carga horária é de 60 horas e o público-alvo são os servidores do legislativo federal, estadual e municipal e distrital. O cidadão comum poderá se candidatar, mas só será inscrito caso o número de vagas não tenha sido atingido.</p>
                        <p>"Curso semtutoria" tem a característica de ser autoinstrucional, isto é, não conta com o acompanhamento e orientação de tutores. A carga horária dos cursos é variável e cada usuário pode se candidatar a até dois cursos simultaneamente.</p>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">20. Qual o processo de inscrição para os cursos com tutoria?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse20" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Os cursos com tutoria são específicos para os servidores do legislativo federal, estadual, municipal e distrital, ou para órgãos conveniados. Havendo a disponibilidade de vagas, as mesmas serão ofertadas à população em geral.</p>
                        <p>Nesse caso, existe um período de pré-matrícula no qual todas as inscrições serão recebidas. Na fase de matrícula, a plataforma realiza a seleção dos candidatos. Havendo a disponibilidade de vagas, a população será contemplada de acordo com a ordem de chegada das pré-matrículas.</p>
                        <p>Ao final do período de matrícula, haverá a emissão de uma mensagem e confirmação ou de negativa de matrícula.</p>
                        <p>Se você realizou uma pré-matrícula, fique atendo ao cronograma do curso para verificar o recebimento das referidas cartas. Após a conclusão do curso eu recebo algum certificado de participação?</p>
                        <p>Sim. Todos os cursos são certificados. Para tanto, o aluno deverá obter 70 pontos, como nota mínima, na avaliação e estar matriculado no curso há, no mínimo, 20 dias.</p>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">21. Quais informações constam no certificado?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse21" class="panel-collapse collapse">
                    <div class="panel-body">No certificado constam o nome e CPF do aluno; modalidade do curso, nome do curso; nota de aprovação; período de realização; carga horária; conteúdo programático; código de verificação do certificado e CNPJ do Senado Federal.
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">22. Como eu posso visualizar/imprimir o meu certificado?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse22" class="panel-collapse collapse">
                    <div class="panel-body">
                        Ao concluir o curso com média superior a 70 pontos e 21 dias de matrícula no curso, seu certificado é emitido automaticamente. Para imprimi-lo, faça o seguinte:
                        <ol>
                            <li>1. Entre  na  plataforma  Saberes,  <a href="http://saberes.senado.leg.br">http://saberes.senado.leg.br</a>,  digitando <b>Identificação de Usuário e Senha</b>.</li>
                            <li>2. Nessa página, clique em <b>Certificados</b>, localizado na barra superior.</li>
                            <li>3. Clique no botão azul  <b>Obter certificados</b>  e, em seguida, no ícone Impressora ao lado do nome do curso</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse23">23. No verso do certificado existe um código que pode conter letras e números. Para que serve?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse23" class="panel-collapse collapse">
                    <div class="panel-body">
                        Todos os certificados emitidos pela plataforma Saberes possuem um código de validação. Esse código possibilita que qualquer pessoa verifique a autenticidade do documento. Para confirmar sua veracidade, faça o seguinte.
                        <ol>
                            <li>1. Acesse a plataforma pelo endereço <a href="http://saberes.senado.leg.br">http://saberes.senado.leg.br</a>.</li>
                            <li>2. Não é necessário possuir identificação de usuário e senha.</li>
                            <li>3. Nessa página, clique em <b>Certificados</b>, localizado na barra superior. </li>
                            <li>4. Na opção <b>Validar Certificado</b>, digite o código constante no verso do certificado.</li>
                            <li>5. Em seguida, clique em <b>Verificar</b>.</li>
                            <li>6. Na tela seguinte, serão exibidos o código de verificação, o nome do aluno, o CPF, o nome do curso realizado, data de emissão do certificado, o período de realização, a carga horária e o programa do curso.</li>
                            <li>7. Este documento poderá ser impresso. Para isso, clique no ícone da impressora que aparece no início da tela.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse24">24. Possuo um certificado emitido pela antiga Plataforma Educacional do ILB, a Trilhas. É possível validar seus certificados na Plataforma Saberes?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse24" class="panel-collapse collapse">
                    <div class="panel-body">
                        Sim.
                        <ol>
                            <li>1. Acesse a plataforma pelo endereço <a href="http://saberes.senado.leg.br">http://saberes.senado.leg.br</a>.</li>
                            <li>2. Não é necessário digitar sua identificação de usuário e senha.</li>
                            <li>3. Clique em <b>Certificados</b>, localizado na barra superior da página.</li>
                            <li>4. Clique no botão laranja <b>Certificados antigos</b>.</li>
                            <li>5. Você será direcionado para o endereço eletrônico da plataforma Trilhas que é <a href="http://www17.senado.gov.br/user/login">http://www17.senado.gov.br/user/login</a>.</li>
                            <li>6. Clique na opção <b>Autenticar Certificado</b>. Não é necessária identificação de usuário ou senha.</li>
                            <li> 7. Digite o código de validação na caixa de digitação. Em seguida, clique em OK.</li>
                        </ol>
                        É  possível  validar,  também,   fora   da  plataforma   Saberes.  Digite,  no  seu navegador, o endereço eletrônico constante no passo 5.
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse25">25. Durante o curso, como posso tirar dúvidas gerais e de utilização da plataforma de ensino?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse25" class="panel-collapse collapse">
                    <div class="panel-body">
                        As dúvidas deverão ser encaminhadas via o endereço eletrônico <a href="malito:ilbead@senado.leg.br">ilbead@senado.leg.br</a>. Para maior agilidade, informe o curso, a turma, a cópia do conteúdo com a localização do módulo, unidade e página, ou questão a serem investigados, acompanhados do número do CPF e o endereço de eletrônico cadastrado.
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
            <div class="panel panel-default">
                <!-- inicio bloco pergunta e resposta -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse26">26. Como posso obter o conteúdo do curso em PDF?</a><!-- a Referencia do link tem que ser a mesma da ID da div da resposta   -->
                    </h4>
                </div>
                <div id="collapse26" class="panel-collapse collapse">
                    <div class="panel-body">
                        Para acessar a versão em PDF com o conteúdo do curso acesse a página inicial do curso, na seção <b>Módulo de Apoio/ Biblioteca</b> e clique em Conteúdo do curso em PDF. Após o término do curso você não terá mais acesso ao conteúdo tanto em PDF quanto ao curso inteiro.
                    </div>
                </div>
            </div>
            <!-- fim bloco perguntas e repostas -->
        </div>
        <!-- fim do bloco accordion -->
    </div>
</div>
<!-- Contato -->
<div id="div.contato" class="container tabcontent tabcontentContatos" >
    <!-- Breadcrumbs -->
    <!-- Pagina Inicial > Escola de Governo > Saberes > Contatos -->
    <div id="portal-breadcrumbs" class="portal-breadcrumbs col-xs-12">
        <ol class="Breadcrumbs">
            <li id="breadcrumbs-you-are-here">Você está aqui:</li>
            <li id="breadcrumbs-home">
                <a href="https://www12.senado.leg.br/institucional">Página Inicial</a>
            </li>
            <li id="breadcrumbs-escola-de-governo">
                <a href="https://www12.senado.leg.br/institucional/escola-de-governo">Escola de Governo</a>
            </li>
            <li id="breadcrumbs-saberes">
                <!-- Alterar este link quando o Saberes de homologação estiver em produção -->
                <a href="{{{ moodle_url }}}">Saberes</a>
            </li>
            <li id="breadcrumbs-contatos">
                <span id="breadcrumbs-current">Contatos</span>
            </li>
        </ol>
    </div>
    <!-- Conteúdo da aba CONTATOS -->
    <div class="container">
        <p style="font-weight:bold;">Serviço de Ensino a Distância – SEED</p>
        <div class="col-xs-12">
            <p><img src="images/icon_ContatoFone-azul.png" /> +55 (61) 3303-1475</p>
            <p><img src="images/icon_ContatoEmail-azul.png" /> <a href="mailto:ilbead@senado.leg.br">ilbead@senado.leg.br</a> </p>
            <p style="font-weight:bold;">Facebook</p>
            <p><a href="https://www.facebook.com/ilbsenado">https://www.facebook.com/ilbsenado</a></p>
        </div>
        <!-- FIM do conteúdo da aba CONTATOS -->
    </div>
</div>
<!-- Conteúdo Principal -->
<div id="div.principal" class="container tabcontent" style="display:block">
    <div class="row">
        <!-- Pagina Inicial > Escola de Governo > Saberes -->
        <!-- Breadcrumbs -->
        <div class="container">
            <div id="portal-breadcrumbs" class="portal-breadcrumbs col-xs-12">
                <ol class="Breadcrumbs">
                    <li id="breadcrumbs-you-are-here">Você está aqui:</li>
                    <li id="breadcrumbs-home">
                        <a href="https://www12.senado.leg.br/institucional">Página Inicial</a>
                    </li>
                    <li id="breadcrumbs-escola-de-governo">
                        <a href="https://www12.senado.leg.br/institucional/escola-de-governo">Escola de Governo</a>
                    </li>
                    <li id="breadcrumbs-saberes">
                        <span id="breadcrumbs-current">Saberes</span>
                    </li>
                </ol>
            </div>
        </div>

        <!-- logotipo e texto -->
        <div class="col-xs-12 col-md-4 text-center">
            <div style="background-color: #F7F7F7; border: 1px solid #E6E6E6; border-bottom: 0; padding: 11% 0 12% 0;">
                <img src='images/logo_saberes_xl.png' width='48%' height='48%' />
            </div>
            <div >
                <div class="col-xs-12" style="background-color: #0F5688; border: 1px solid #E6E6E6;">
                    <p style="color: #FFFFFF; font-size: 16px; padding: 9% 0 9% 0;">
                        Cursos abertos e sem custo para a comunidade legislativa e os cidadãos
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
            <br />
        </div>
        <!-- video  -->
        <div class="col-xs-12 col-md-4">
            <iframe width="360" height="215" src="https://www.youtube.com/embed/D6IMzbSh0KI" frameborder="0" allowfullscreen style="padding: 0; height: 228.5px;"></iframe>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
            <br />
        </div>
        <!-- bloco para login -->
        {{^username}}
        <div class="col-xs-12 col-md-4">
            <form class="loginform" id="login" method="post" action="login/index.php">
                <div class="col-xs-12" style="background-color: #F7F7F7; border: 1px solid #E6E6E6; border-bottom: 0;">
                    <h4 style="color: #0F5688; border: 0;">ACESSO</h4>
                    <div class="c1 fld username">
                        <label for="login_username">CPF</label>
                        <br />
                        <div class="input-group" style="width: 100%;">
                            <input type="text" name="username" id="login_username" value="" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="c1 fld password">
                        <label for="login_password">Senha</label>
                        <br />
                        <div class="input-group" style="width: 100%;">
                            <input type="password" name="password" id="login_password" value="" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="c1 rememberusername">
                        <input type="checkbox" name="rememberusername" id="rememberusername" value="1">
                        <label for="rememberusername">Lembrar CPF</label>
                    </div>
                </div>
                <div class="col-xs-12" style="background-color: #F7F7F7; border: 1px solid #E6E6E6; border-top: 0; padding-bottom: 3%;">
                    <div class="col-xs-5" style="padding-top: 3%; line-height: 100%; padding-left: 0;">
                        <a href="login/signup.php" style="font-size:13px;">Cadastre-se</a>
                        <br />
                        <a href="login/forgot_password.php" style="font-size:11px;">Perdeu a senha?</a>
                    </div>
                    <div class="pull-right">
                        <input class="btn btn-primary" type="submit" value="Acessar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/username}}
    <!-- se está logado, exibe nome do usuário, login, boas vindas e opção para sair -->
    {{#username}}
	
	{{#cpf2}}
		{{! Inserir modal do aviso caso o CPF seja duplicado e válido e o login foi migrado }}
		<script>
			$.ajax({url: "{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}", success: function(result){
				alert("O usuário {{username}} foi desativado e seus certificados foram migrados para outro cadastro com mesmo CPF. " + 
					"\n\nCaso tenha dificuldades com seu acesso, favor entrar em conosco pelo e-mail ilbead@senado.leg.br.\n\n" + 
					"Atenciosamente, \nEquipe de Ensino a Distância do ILB"
				);
				window.location.replace("{{{ moodle_url }}}");
			}});			
		</script>
	{{/cpf2}}

	{{#cpf3}}		
		{{! Inserir modal do aviso caso o CPF seja duplicado e inválido, o usuário foi cancelado }}	
		<script>
			$.ajax({url: "{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}", success: function(result){
				alert("O usuário {{username}} foi desativado em virtude de haver outro cadastro com mesmo CPF. " + 
					"\n\nCaso seja o titular do CPF informado, favor entrar em contato com ilbead@senado.leg.br para regularizar seu acesso.\n\n" + 
					"Atenciosamente, \nEquipe de Ensino a Distância do ILB"
				);
				window.location.replace("{{{ moodle_url }}}");
			}});			
		</script>
	{{/cpf3}}

     
    <!-- JS do modal CPF (tem que ser inserido depois de #username) -->
    {{#loginChangeNotification}}
	    <!-- Modal do CPF -->
	    <div id="modalCPF" class="modal fade">
	      <div class="modal-dialog">
		<div class="modal-content">
		  <!-- corpo -->
		  <div class="modal-header">
		    Aviso
		  </div>
		  <div class="modal-body">
		    <p>Prezado(a) {{{ firstname }}},</p><br>
		    <p>A partir da próxima segunda-feira, 7/5/2018, o acesso à plataforma Saberes
			será feito por meio de seu CPF e não mais pelo seu
			nome de usuário. Sua senha permanece a mesma.</p>
		    <p>Os certificados dos cursos que você 
		       participou serão mantidos, mesmo com essa mudança.</p>
		    <p>Qualquer dúvida ou caso precise regularizar seu cadastro, 
			entre em contato conosco pelo endereço de e-mail 
			ilbead@senado.leg.br</p><br>
		    <p>Atenciosamente,</p>
		    <p>Equipe de Ensino a Distância do ILB</p>
		  </div>
		  <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">OK</button></div>
		</div>
	      </div>
	    </div>

	    <script>
		    $("#modalCPF").on("show", function() {
		    $("#modalCPF a.btn").on("click", function(e) {
		        $("#modalCPF").modal('hide');
		    });
		});
		$("#modalCPF").on("hide", function() {  
		    $("#modalCPF a.btn").off("click");
		});
	       
		$("#modalCPF").on("hidden", function() {
		    $("#modalCPF").remove();
		});
	       
		$("#modalCPF").modal({                  
		  "backdrop"  : "static",
		  "keyboard"  : true,
		  "show"      : true                    
		});
	    </script>
	     
	    <!-- CSS para localização do modal do CPF no centro da tela e no topo para mobile -->
	    <style>
	    @media only screen and (min-width: 768px) {
	      .modal {
		text-align: center;
	      }
	      .modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	      }
	      .modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	      }
	    }
	    </style>
    {{/loginChangeNotification}}


    <div class="col-xs-12 col-md-4">
        <div class="col-xs-12" style="background:#f7f7f7; border:1px solid #e6e6e6; padding-top: 3%;">
            <h3 style="margin-top: auto; margin-bottom: 8%;">Bem-vindo ao Saberes!</h3>
            <div class="col-xs-9">
                <p>
                    <strong>Nome</strong>
                    <br />
                    <span>{{{ firstname }}} {{{ lastname }}}</span>
                </p>
            </div>
            <div class="col-xs-3" style="padding-bottom: 10%;">
                <a href="{{{userprofileurl}}}"><img class="img-circle" alt="Foto do Perfil" src="{{{userpictureurl}}}" width="70px;" /></a>
            </div>
            <!-- {{{ output.user_menu }}} -->
            <div class="col-xs-12 col-md-6 col-lg-6" style="padding-bottom: 5%; padding-right: 0;">
                <a class="btn btn-primary pull-left" href="{{{ moodle_url }}}/my">Meus Cursos</a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6" style="padding-bottom: 5%; padding-right: 0;">
                <a class="btn btn-danger pull-right" href="{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}">Sair</a>
            </div>
        </div>
    </div>
</div>
{{/username}}
<div class="col-xs-12 col-md-12 col-lg-12">
    <br/>
    <br/>
</div>
<!-- Categorias de cursos -->
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12" style="background-image:url('images/fundo-c.png');background-repeat: repeat-x;">
            <div class="col-xs-1" style="width:10px"></div>
            <div class="col-xs-3" style="background:white; margin-top:-17px; width:240px;">
                <h3 class="text-uppercase" style="border: 0; font-weight: lighter;">C<span class="text-uppercase" style="font-size: 0.65em;">ategoria de cursos</span></h3>
            </div>
        </div>
    </div>
    <div align='center'>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=134'><img src="images/Cursos-on-line-sem-tutor.png"></a>
            <p>Cursos on-line sem tutoria</p>
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=130'><img src="images/Cursos-on-line.png"></a>
            <p>Cursos on-line com tutoria</p>
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=102'><img src="images/formacao_interna.png"></a>
            <p>Formação interna </p>
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=46'><img src="images/pos-graduacao.png"></a>
            <p>Pós-graduação</p>
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=112'><img src="images/oficinas-interlegis.png"></a>
            <p>Oficinas Interlegis</p>
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=127'><img src="images/video-aula.png"></a>
            <p>Videoaulas</p>
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=180'><img src="images/projetos_especiais.png"></a>
            <p>Projetos Especiais</p>
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href='course/index.php?categoryid=163'><img src="images/conheca-senado.png"></a>
            <p>Conheça o Senado</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12" style="border: 1px solid grey;"></div>
</div>
<br />
<!-- Rodapé completo -->
</div>{{>theme_boost/footer}}
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
