{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}


<!-- NAV SUPERIOR DO SENADO -->
<header>
  <div id="header-institucional">
    <div class="NavGlobal navbar navbar-static-top">
      <div class="NavGlobal-container">
        <div class="pull-right dropdown" role="navigation">
          <a data-toggle="dropdown" class="NavGlobal-toggle dropdown-toggle">
            <div class="Icon Icon--menu Icon--md"></div>
            <span class="u-alignMiddle"> Portais</span>
          </a>
          <ul class="NavGlobal-dropdownMenu dropdown-menu">
            <li><a href="http://www.senado.gov.br/institucional/">Institucional</a></li>
            <li><a href="http://www25.senado.leg.br/web/senadores/">Senadores</a></li>
            <li><a href="http://www25.senado.leg.br/web/atividade/">Atividade Legislativa</a></li>
            <li><a href="http://www12.senado.gov.br/noticias/">Notícias</a></li>
            <li><a href="http://www12.senado.gov.br/publicacoes/">Publicação e Documentação</a></li>
            <li><a href="http://www12.senado.gov.br/orcamento/">Orçamento</a></li>
            <li><a href="http://www12.senado.gov.br/transparencia/">Transparência</a></li>
            <li><a href="http://www12.senado.gov.br/ecidadania/">e-Cidadania</a></li>
          </ul>
        </div>
        <div class="NavGlobal-logo pull-left">
          <a href="http://www.senado.gov.br/">
            <img src="//www.senado.gov.br/inc/essencial/img/senado.svg" alt="Senado Federal" height="23" width="170">
          </a>
        </div>
        <div class="NavGlobal-middle">
          <a href="http://www12.senado.gov.br/institucional/falecomosenado">Fale com o Senado</a>
        </div>
      </div>
    </div>
  </div>
</header><!-- FIM DA NAV SUPERIOR DO SENADO -->
